<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329921463597-uda5ksp1ggnr6oohungufli5jujolqki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329921463597-uda5ksp1ggnr6oohungufli5jujolqki</string>
	<key>API_KEY</key>
	<string>AIzaSyD8PkcqWNm9l8LjrxInKqoXIGJ3jQ5B7_U</string>
	<key>GCM_SENDER_ID</key>
	<string>329921463597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eiphoria.FireBase1</string>
	<key>PROJECT_ID</key>
	<string>fir-1-4a87c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-1-4a87c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329921463597:ios:eb97de5b8a624227ae3fa4</string>
</dict>
</plist>